*{
    margin: 0%;
    padding: 0%;
}
.logoEstudio{           /* H E A D E R: */
    width: 140px;
} 
.cabecera{
    background-image: linear-gradient(gray, black);
}
.cabecera__navegacion{
    display: flex;              
    list-style: none;  
    padding: 10px;   
}
.cabecera__navegacion li{       
    margin-right: 50px; 
    transition: transform 1s, background-color 2s;         
}
.cabecera__navegacion li:hover{
    transform: scale(1,2);
    background-color: rgb(245, 217, 62);
}
.navegacion_link{
    font-size: 18px;
    text-decoration: none;
    color: white;   
}
.cabecera__contacto{
    display: flex;
    list-style: none;
    padding: 10px;
}
.cabecera__contacto a{
    color: gold;
}
.cabecera__contacto li{
    margin-right: 10px;
}
.cabecera{                 /* APLICO GRIDS */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;       
    align-items: center;  
    border: solid 1px;                      
}
.cuerpo{                   /* S C T I O N */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(./Imagen/justicia.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    border: solid 1px;   
}
.cuerpo__texto{
    display: grid;
    justify-items:center;
    align-items: center;  
    grid-template-rows: repeat(4, 40px);
    color: white;
    row-gap: 30px;
    align-self: center;
}
.cuerpo__texto h1{ 
    font-size: 35px;
    font-family: none;
}
.cuerpo__texto p{
    font-size: 25px;
}
.cuerpo__texto a{
   color: gold;
   border: solid 1px;
   padding: 5px;
   transition: transform 1s, background-color 2s;
}
.cuerpo__texto a:hover{
    transform: scale(2);
    background-color: black;
}
.pie{                   /* F O O T E R */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-image: linear-gradient(gray, black);
}
.pie p{
    color: white;
}
.pie__logo{
    width: 100px;
   justify-self:start;   
}
.pie__contacto{
    display: flex;  
    margin: 10px;
    align-items: center;
}
.pie__contacto p{
    padding: 2px;
}
.pie__redesSociales{
    justify-self: end;
}
.pie__redesSociales ul{
    list-style: none;
    display: flex;
    padding: 10px;
}
.pie__redesSociales li{
    margin: 5px;   
}
.pie__redesSociales a{
    color: gold;
}
.pie__redesSociales h5{
    color: white;
}
@media only screen and (max-width: 768px){
    .cabecera{
        grid-template-columns: 1fr;
    }
    .cabecera__navegacion{   
        flex-direction: column;
    }
    .cuerpo{
        grid-template-columns: 1fr;  
        padding: 10px; 
    }
    .cuerpo__texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pie{
        grid-template-columns: 1fr;
    }
}
